*{
   margin: 0%;
   padding: 0%;
   
}

.navbae{
   display: flex;
   justify-content: space-between;
 margin-left: 200px;
 margin-right: 200px;
 margin-top: 20px;

}

.Sign-in{
   padding: 10px 25px;
   border: solid 1px green;
   border-radius: 6px;
}

header{
   width:80%;
   
   margin:0 auto;
}

.banner-first{
   margin-top: 20px;
   margin-left: 150px;
   margin-right: 150px;
   background-color:#C6E4D6;
   display: flex;
   justify-content: space-around;
   border-radius: 15px;
  
}

.banner-left{
   padding-left: 10px;
   padding-top: 150px;
}
.banner-right{
   margin-bottom: 40px;
}

.button-style-hero{
   background-color:#006A50;
   margin-top: 40px;
   padding: 10px 10px;
  border-radius: 8px;
  color: aliceblue;
   

}
.bangladesh2{
   margin-bottom: 20px;
   color: gray;
}

.Pillars-of{
   text-align: center;
   
   
}

.box{
   text-align: justify;
   width: 300px;
   height: 200px;
   padding:20px;
   background-color:white;
   border-radius: 10px;

}
.all-boxes{
   display: flex;
   justify-content: center;
   margin-left: 150px;
   margin-right:150px;
   
}

.margen_box{
   margin-left: 25px;
}
.rnd-head{
   text-align: justify;
   margin-left: 150px;
   margin-top: 40px;
   margin-bottom: 20px;
   
}

.btn_big{
   background-color: #548ff5;
   border: none;
}
.big-box{
   padding: 50px;
   background-color: #548ff554;
}

.second_big_box{
   padding: 50px;
   background-color: #C6E4D6;
}
.second_big_box_btn{
   background-color:#09A15C;
   border: none;
}

.last_big_box{
   padding: 50px;
   background-color: #F7EBCF;
}
.last_big_box_btn{
   
   background-color: #FFC239;
   border: none;
   
}
.text_dr{
   background-color:white;
   background-image:url(../assets/quote-bg.png);
   background-repeat: no-repeat;
   margin-left: 150px;
   margin-right: 150px;
   margin-top: 40px;
   margin-bottom: 50px;
   padding-right: 20px;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 10px;
   border-radius: 15px;
   border: 1px solid rgba(216, 216, 216, 0.713);
   
   
}
.koms_text{
   margin-right: 10px;
}
.this-is-younud{
   margin-top: 15px;
}
header{
   width: 80%;
   background-color: #e3ebe77c;
   padding-top: 10px;
   padding-bottom: 20px;
}

main{
   width: 80%;
   background-color:#e3ebe77c ;
   margin-left: 380px;
}
.footer_text{
   text-align: center;
   padding-bottom: 50px;
   padding-top: 10px;
}
.icon{
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 40px;
   margin-right: 10px;
}
.border_box{
   border: 1px solid rgba(128, 128, 128, 0.193);
}

.Recent_news{
   
   justify-content: center;
   margin-left: 150px;
   margin-right:150px;
   padding-bottom: 40px;
}

.Bangladesh_Lau{
   background-color: white;
   display: flex;
   justify-content: end;
   margin-left:150px;
   margin-right: 150px;
   padding: 40px 40px;
   
}
.news_btn{
   background-color: #006A50;
   
}
.Recent_news_pic{
   border-radius: 20px;
}

.right_text{
   padding: 40px 40px;
}
.news_text_color{
   color: gray;
   justify-content: center;
}
.last_news{
   margin-top: 50px;
   justify-content: center;
   border-radius: 20px;
}
.section_end{
   justify-content: center;
   border-radius: 20px;
}
.donet_today{
   text-align: center;
}
.taka{
   
   text-align: justify;
   width: 100px;
   height: 30px;
   padding:20px;
   display: flex;
   background-color:white;
   margin: 10px 10px;
   flex-direction: row;
   border-radius: 10px;
   border: 1px solid rgba(128, 128, 128, 0.277);
   font-weight: 800;

}

.amount_taka{
   margin-top: 30px;
   display: flex;
   justify-content:center;
   margin-left: 150px;
   margin-right:150px;
  
}
._margen{
   margin-left: 15px;
}
.selects_two{
   background-color:#C6E4D6 ;
}
.donate_text{
   color: grey;
}
.donet-hadding{
   margin-top: 50px;
   margin-bottom: 20px;
}
.donate-text_now{
   margin-top: 30px;
   display:flex;
   justify-content:center;
   margin-left: 150px;
   margin-right:150px;
   flex-direction: column;
}

.text_box_input{
   margin-left: 300px;
   margin-right: 300px;
   height: 40px;
   width: auto;
   text-align: center;
   border: none;
   border-radius: 5px;
   color: grey;
}
.button-pot{
 
}

.btn{
	background-color: #006A50;
	color: #ffffff;
	border: none;
	outline: none;
	display: inline-block;
	text-transform: capitalize;
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background: rgb(0, 0, 0);
	color: #ffffff;
	font-size: 24px;
}